<!DOCTYPE html>
<html>
<head>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ADcoin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item dropdown">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Кошелёк
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/wallet">Баланс</a>
            <a class="dropdown-item" href="/send">Перевод</a>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/top">ТОР-10</a>
      </li>
    </ul>
  </div>
</nav>
<div>
    <h1 class="display-3">Регистрируй</h1>
    <h3>Принимаются монеты, хэш которых в md5 начинается с "666".</h3>
    <form method="POST" action="/">
         <textarea placeholder="Ваши строки" name="hashes" cols="100" rows="10"></textarea>
        <div>
         <button type="submit" class="btn btn-dark">Отправить</button>
        </div>
         {% if res %}
            <h1>Обработаны ключи:</h1>
            <ul>
                {% for h, error in res %}
                    <li>{{ h }} &mdash; {% if not error %}ok{% else %}error{% endif %}</li>
                {% endfor %}
            </ul>
         {% endif %}
    </form>
</div>
</body>
</html>