<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <nav class="nav">
        <a class="nav-link active" href="/">Главная</a>
        <a class="nav-link" href="/wallet">Кошелёк</a>
        <a class="nav-link" href="#">ТОР-10</a>
        <a class="nav-link disabled" href="/send">Перевод</a>
    </nav>
   <h1 class="display-3">TOP-10</h1>
      {% if res %}
         <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">ADCoin</th>
                 </tr>
            </thead>
            <tbody>
               {% for num, name, coin in res%}
                  <tr>
                  <th scope="row">{{number}}</th>
                  <td>{{name}}</td>
                  <td>{{val}}</td>
                  </tr>
               {% endfor %}

            </tbody>
</table>
         {{ res }}
      {% endif %}
</body>
</html>